*{
    margin: unset;
    padding: unset;
}

nav {
    background: #00805a;
    height: 3rem;
    line-height: 3rem;
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.container {
    padding: 1rem;
}

#itemForm label {
    display: block;
    margin-bottom: 1rem;
}

#itemForm input {
    height: 1.75rem;
    text-align: center;
    border: 1px solid #bfbfbf;
}

#quantityInput, #priceInput {
    width: 3rem;
}

#addItemButton {
    border: unset;
    background: #00805a;
    color: #fff;
    padding: 0.5rem;
}

#itemsDiv {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.item {
    display: flex;
    background: #eaeaea;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.checkbox {
    height: 100%;
    width: 2.5rem;
}

.itemInfo {
    flex: 2;
    padding: 3px;
    text-align: center; 
}

.item-name {
    text-transform: capitalize;
}

.deleteButton {
    margin: 0 0 0 auto;
    border: unset;
    background: #b10000;
    color: #fff;
    font-size: 0.8rem;
    width: 2.5rem;
    text-align: center;
}

.deleteButton:active {
    margin-top: 3px;
}

#totalPriceDiv {
    margin: 2rem 0 0 2rem;
    font-weight: 600;
}

.purchased {
    background: #00805a;
    color: #fff;
}

.purchased p {
    text-decoration: line-through;
}